/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>


#define DEFAULT 0
#define NUMBER 1
#define SETTING 2

/ {     
//west build -p -b nrf52840_m2 -- -DSHIELD=am_hatsu_left
//west build -d build/left -b nrf52840_m2 --- -DSHIELD=am_hatsu_left
//west build -d build/right -b nrf52840_m2 --- -DSHIELD=am_hatsu_right


// git add .
// git commit -m "Initial shield"
// git push


    keymap {
       compatible = "zmk,keymap";
       default_layer {
         label = "DEFAULT";
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |-----|    Y    |    U    |    I    |    O    |    P    |    \|    |
// |   CAPS  |    A    |    S    |    D    |    F    |    G    |-----|    H    |    J    |    K    |    L    |   : ;   |   " '    |
// |  mo 1   |    Z    |    X    |    C    |    V    |    B    |-----|    N    |    M    |    , <  |    . >  |    / ?  |    mo 2  |
//|  TAB  |    FNSwitch    |    LSHIFT    |    SPACE     |       -----                    | ENTER   |   BSPC |  { [    |  ] }     |
//|  WIN+E  |    ALT   |    CTRL    |    DELETE   |                 -----                    |   WIN  |  RCTRL |    ALT  |  _  |
 // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
 
            bindings = <
&kp ESC     &kp Q   &kp W       &kp E       &kp R   &kp T               &kp Y   &kp U   &kp I       &kp O       &kp P       &kp NUBS
&kp CAPS    &kp A   &kp S        &kp D       &kp F   &kp G              &kp H   &kp J   &kp K       &kp L       &kp SEMI    &kp SQT
&mo 1       &kp Z   &kp X       &kp C       &kp V   &kp B               &kp N   &kp M   &kp COMMA   &kp DOT     &kp FSLH    &mo 2
&kp TAB         &tog 1      &kp LSHIFT  &kp SPACE                       &kp ENTER  &kp BSPC    &kp LBKT    &kp RBKT       
&kp LG(E)       &kp LALT    &kp LCTRL   &kp DEL                         &kp RGUI  &kp RCTRL   &kp RALT   &kp UNDER    
            >;
        };

        number_layer {
            label = "NUMBER";

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   F1   |    F2    |    F3    |    F4    |    F5    |    F6    |-----|      7    |    8   |    9    |    /   |    *    |    =    |
// |    F7  |    F8   |    F9    |    F10    |   F11   |   F12    |----- |      4    |   5    |    6    |    0   |   -     |   +     |
// |  mo 1   |   `~   |    !    |    @    |    #   |    $     |     -----|      1    |    2    |   3    |    UP   |   RIGHT  |    mo 2  |
//|  TAB   |    FNSwitch    |    LSHIFT    |    SPACE     |          --     | ENTER   |   BSPC |  LEFT    |  DOWN    |
//|     %   |     ^       |     &    |     DELETE   |           -----                    |   WIN  |  RCTRL |    ALT  |  insert  |
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
          
            bindings = <
&kp F1      &kp F2          &kp F3          &kp F4      &kp F5      &kp F6            &kp N7      &kp N8      &kp N9      &kp KP_SLASH   &kp KP_MULTIPLY    &kp EQUAL  
&kp F7      &kp F8          &kp F9          &kp F10     &kp F11     &kp F12           &kp N4      &kp N5      &kp N6      &kp N0       &kp KP_MINUS       &kp KP_PLUS
&mo 1       &kp GRAVE       &kp EXCL        &kp AT      &kp HASH    &kp DOLLAR        &kp N1      &kp N2      &kp N3      &kp UP        &kp RIGHT         &mo 2 
&kp TAB         &tog 1      &kp LSHIFT  &kp SPACE                                     &kp ENTER   &kp BSPC   &kp LEFT    &kp DOWN
&kp PRCNT        &kp CARET    &kp AMPS   &kp DEL                                       &kp RGUI    &kp RCTRL   &kp RALT   &kp INS    	
            >;
        };

        setting_layer {
            label = "SETTING";

//&ext_power EP_ON    &ext_power EP_OFF   &none   &none   &kp C_VOL_DN    &kp C_VOL_UP         &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_CLR_ALL
//&none       &none   &none   &none   &HOME   &PG_UP                                   &bt BT_CLR           &none           &none   &none   &out OUT_BLE    &out OUT_USB
//&sys_reset      &bootloader   &none   &none   &END   &PG_DN                                   &sys_reset      &bootloader     &none   &none   &out OUT_TOG           &mo 2
//&none       &none   &none   &none                                                   &none           &none           &none   &none
//&none       &none   &none   &none    

            bindings = <
&ext_power EP_ON    &ext_power EP_OFF   &none   &none   &kp C_VOL_DN    &kp C_VOL_UP         &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_CLR_ALL
&none       &none   &none   &none   &HOME   &PAGE_UP                                   &bt BT_CLR           &none           &none   &none   &out OUT_BLE    &out OUT_USB
&sys_reset      &bootloader   &none   &none   &END   &PAGE_DOWN                                   &sys_reset      &bootloader     &none   &none   &out OUT_TOG           &mo 2
&none       &none   &none   &none                                                   &none           &none           &none   &none
&none       &none   &none   &none                                                   &none           &none           &none   &none
          >;
         };
    };
};






